*{
  padding: 0;margin: 0;box-sizing: border-box;
}
.custom-scrollbar-hidden {
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}