@import "tailwindcss";

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-blue-600) #e0f2fe;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-blue-600);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-600);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-blue-800)
  }

  .animate-blink {
    animation: blinker 1s linear infinite;
  }

  .doctor-swiper .swiper-button-next,
.doctor-swiper .swiper-button-prev {
  color: #3b82f6;
}

.doctor-swiper .swiper-pagination-bullet {
  background-color: #3b82f6;
}

.doctor-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-card {
  text-align: center;
}

.doctor-avatar {
  transition: transform 0.3s ease;
}

.doctor-card:hover .doctor-avatar {
  transform: scale(1.1);
}
.custom-scrollbar-hidden {
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}